

@model fstCopy_Proj5.Models.GeneralListing

@{
    ViewBag.Title = "إنشاء قائمة جديدة";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style>
        body, .form-horizontal, h2, h4, label, input, select, textarea {
            direction: rtl;
            text-align: right;
        }
    </style>

    <div class="form-horizontal" style="background-color: #F2F2F2; border: 1px solid #000; padding: 20px;">
        <h2 style="color: #CE1126;">إنشاء قائمة جديدة</h2>
        <hr style="border-top: 2px solid #007A33;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Name, "اسم القائمة", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delegate_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Delegate_Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Delegate_Name, "اسم المفوض", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delegate_Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Delegate_Phone, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Delegate_Phone, "هاتف المفوض", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delegate_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Delegate_Email, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Delegate_Email, "البريد الإلكتروني للمفوض", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إنشاء" class="btn btn-danger" style="background-color: #CE1126; color: white; border: none;" />
            </div>
        </div>
    </div>
}